/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@500&family=Source+Sans+Pro:wght@700&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
}
  /*---------------
   nav and header styles 
   --------------------*/
header{
    background-color:  rgba(255, 144, 14, 0.1);
}
nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
    width:1387px;
    height: 50px;
    margin: 0 auto;
   

}
nav ul{
    display: flex;
    list-style: none;
   
}
nav li{ margin-right: 16px;
}
nav ul li a{
    text-decoration: none;
    color: #424242;
}
.section{
    background-color:  rgba(255, 144, 14, 0.1);
}
.banner{
    padding: 80px 335px;
    text-align: center;

}
.banner-title{
    font-size:45px;
    font-weight: 700;
   
}
.banner-description{
    font-size: 16px;
    text-align: center;
    font-weight: 400px;
    font-style: normal;
    color: #727272; 
}
.btn-primary{
    background-color: #FF900E;
    padding: 19px 24px;
    border: 0;
    border-radius: 4px;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;

}
.banner-image img{
    width: 1440px;
    height: 700px;
}

/*----------- 
quick list styles
--------------- */
.list{
    width:1387px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
}
.list-sub-title{
    display: flex;
}
.list-title img{
   width: 342px;
   height: 342px;
   padding: 10px;
}
.list-item{
    text-align: center;
    margin-top: 300px;
}


.list-color{
    color:#131313;
}
.item-color{
    color: #FF900E;
}

/*------------
 architect styles
 -------------- */
 .architect{
    display: flex;
    margin-top: 100px;
   
}
.architect-line{
    border-left: 6px solid  #FF900E;;
    height: 106px;
   
   
}
.architect-title{
    font-size: 45px;
    font-weight: 700;
     margin: 25px;
     gap:24px;
}
.architech-description{
    
    font-size: 16px;

    line-height:26px;
}
.architech-list{
    width: 586px;
    height: 730px;
    padding: 50px;
   
   
}
.architech-list1{
    font-size: 20px;
    font-weight: 600;
}
.architech-form1{
    font-size: 16px;
    gap:30px;
    line-height: 30px;
}
.architech-post{
    width: 800px;
    height: 1059px;
    
}
.btn-post{
    background-color: #FF900E;
    border-radius: 5px;
    padding: 30px 50px;
    border:0;
    color:  #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    margin-right:350px;
    position:relative;
    top:-10%;
    left: -10%;
   
    
}
/*------------
 icon styles 
 -------------*/

 .some-content{
    margin-top: 150px;
}
.bost-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.some-sub-conten{
    color:#131313;
    font-weight: 700;
    font-size: 55px;
}
.some-description{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 100px;
}
.bost-section{
    gap:80px;
}
.bost{
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    border: 2px solid #FF900E;
    
}
.bost:hover{
     background-color:antiquewhite;
}
.bost-title{
    color:#424242;
    font-size: px;
    font-weight: 600;
}
.bost-description{
    color:#727272;
}

/*--------- 
sponsors styles
------------ */

.sponser{
    margin-top: 100px;
    text-align: center;
}
.sponser-title{
    color:#131313;
    font-weight: 700;
    font-size:30px;
}
.sponser-description{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 40px;
}
.sponser-list{
   display:flex;
   gap:130px;
   width:166.76px;
 
}